<!DOCTYPE html>
<html>
<head>

    <title>Agency Agile</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <script type="text/javascript">
        // Must be first. IE10 mobile viewport fix
        if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    @Styles.Render("~/content/css")
    
</head>
<body>
    <div>
        <div>
            <div>
                <header class="clearfix">
                    <div>
                        <nav class="navbar navbar-fixed-top navbar-inverse">
                            <div class="navbar-header">
                                <a href="@Url.Action("Index","Home")" class="navbar-brand"><span class="brand-title">Agency Agile</span></a>
                                <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                            </div>
                            <div class="navbar-collapse collapse">
                                <div class="pull-right navbar-logo">
                                    <ul class="nav navbar-nav pull-right">
                                        <li>
                                            <a href="@Url.Action("Index","Tenant")">
                                                Manage Tenants
                                            </a>
                                        </li>
                                       
                                        @Html.Partial("_LoginPartial")
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
                <section id="content" class="container content" >
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Agency Agile</p>
                    </footer>
                </section>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
